---
layout: base.njk
---


<!DOCTYPE html>

<html>
<body>
 <header style="text-align: center;">
 <br>
 <div class="container">
    <a class="a" href="/">
    <img style="height: 30px; width: 30px; float: right; margin-right: 40px;" src="/assets/icons/noun-globe-4761576.svg"/></a>
</div>
<br>
  <h1>The Heart of Puerto Rico</h1>
        <h2><i>Peter Decherney and Jean Lee</i></h2>
      </header>
<div></div>
<br></br>
        <main>
    <div>
    <h4 class="textbox">The Heart of Puerto Rico es una serie documental de realidad virtual de 13 episodios centrada en artistas de Puerto Rico tras el huracán María. Para realizar la película, los directores Peter Decherney (Universidad de Pensilvania) y Jean Lee (guionista y directora) colaboraron con una amplia gama de artistas de Puerto Rico, desde escultores y pintores de fama internacional hasta payasos callejeros y artistas drag.</h4></div>
<br></br>
<div class="container">
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/christine-nieves/">
        <img class="thumbnail" src="assets/images/Christine_Nieves/Christine_1.jpg"/></a></div>
        <a class="a" href="artists-es/christine-nieves/">
        <h4 style="color: #ffffff; margin-top: 5px;">Christine Nieves</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/luis-miranda/">
        <img class="thumbnail" src="assets/images/Luis_Miranda/LuisMiranda_1.jpg"/></a></div>
        <a class="a" href="artists-es/luis-miranda/">
        <h4 style="color: #ffffff; margin-top: 5px;">Luis Miranda</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/anoma-lia/">
        <img class="thumbnail" src="assets/images/Anoma_Lia/Anoma_Lia_1.jpg"/></a></div>
        <a class="a" href="artists-es/anoma-lia/">
        <h4 style="color: #ffffff; margin-top: 5px;">Anoma Lia</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/charles-juhaz-alvarado/">
        <img class="thumbnail" src="assets/images/Charles_Juhaz_Alvarado/CJA_1.jpg"/></div>
        <a class="a" href="artists-es/charles-juhaz-alvarado/">
        <h4 style="color: #ffffff; margin-top: 5px;">Charles Juhaz Alvarado</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/chemi-rosato-sejo/">
        <img class="thumbnail" src="assets/images/Chemi_Rosato_Sejo/Chemi_1.jpg"/></div>
        <a class="a" href="artists-es/chemi-rosato-sejo/">
        <h4 style="color: #ffffff; margin-top: 5px;">Chemi Rosato Sejo</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/jaime-bofil-conservatory-of-music/">
        <img class="thumbnail" src="assets/images/Jaime_Bofil_COM/JB_COM_1.jpg"/></div>
        <a class="a" href="artists-es/jaime-bofil-conservatory-of-music/">
        <h4 style="color: #ffffff; margin-top: 5px;">Jaime Bofil / Conservatory of Music</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/jose-luis-vargas/">
        <img class="thumbnail" src="assets/images/Jose-Luis_Vargas/J-LV_1.jpg"/></div>
        <a class="a" href="artists-es/jose-luis-vargas/">
        <h4 style="color: #ffffff; margin-top: 5px;">Jose-Luis Vargas</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/marien-torres/">
        <img class="thumbnail" src="assets/images/Marien_Torres/Marien_Torres_1.jpg"/></div>
        <a class="a" href="artists-es/marien-torres/">
        <h4 style="color: #ffffff; margin-top: 5px;">Marien Torres</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/museum-of-contemporary-art/">
        <img class="thumbnail" src="assets/images/Muse_Cont_Art/MAC_Curator.jpg"/></div>
        <a class="a" href="artists-es/museum-of-contemporary-art/">
        <h4 style="color: #ffffff; margin-top: 5px;">Museum of Contemporary Art</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/poncili-creacion/">
        <img class="thumbnail" src="assets/images/Poncili_Creacion/Poncili_Creacion_1.jpg"/></div>
        <a class="a" href="artists-es/poncili-creacion/">
        <h4 style="color: #ffffff; margin-top: 5px;">Poncili Creacion</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/suarez-brothers/">
        <img class="thumbnail" src="assets/images/Suarez_Brothers/Suarez_1.jpg"/></div>
        <a class="a" href="artists-es/suarez-brothers/">
        <h4 style="color: #ffffff; margin-top: 5px;">Suarez Brothers</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/vueltabajo/">
        <img class="thumbnail" src="assets/images/Vueltabajo/Vueltabajo_1.jpg"/></div>
        <a class="a" href="artists-es/vueltabajo/">
        <h4 style="color: #ffffff; margin-top: 5px;">Vueltabajo</h4></a>
    </div>
    <div class="vid container">
        <div class="box">
        <a class="a" href="artists-es/y-no-habia-luz/">
        <img class="thumbnail" src="assets/images/YN_Habia_luz/YNHL_1.png"/></div>
        <a class="a" href="artists-es/y-no-habia-luz/">
        <h4 style="color: #ffffff; margin-top: 5px;">Y no Habia luz</h4></a>
    </div>
    </div>
 </main>
 <div class="controls prevnext footer" style="text-align: center; display: grid; margin-bottom: 0px; padding: 0px;">
        <div class="links">
          <a class="a" href="/about-es">About</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/credits-es">Credits</a>
      </div>
</body>




