---
layout: base.njk
---

<!DOCTYPE html>
<html>
<body>
<header class="header" style="text-align: center; display: grid; margin-bottom: 0px;">
        <span class="links container">
          <a class="a" href="/">Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/credits">Credits</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/about-es">ES</a>
          </span>
      </header>
      <div style="border-bottom: 4px solid #ffffff;"></div>
<main style="text-align: center;">
<header style="text-align: center;">
<br>
        <h1><strong>About the Project<strong></h1>
      </header>
      
 {# Page or post content will appear here #}
 
    {{ content | safe }}


<img class="poster" src="assets/images/about_imgs/The-Heart-of-Puerto-Rico_poster.png"/>
<br><br>
<div class="awards">
<img class="awards" src="assets/images/about_imgs/award-1.png"/>
<img class="awards" src="assets/images/about_imgs/award-2.png"/>
<img class="awards" src="assets/images/about_imgs/award-3.png"/>
<img class="awards" src="assets/images/about_imgs/award_4.png"/>
</div>
</main>
<div class="controls footer" style="text-align: center; display: grid; margin-bottom: 0px; padding: 0px;">
        <div class="links">
          <span class="divider"></span>
          <span class="divider"></span>
      </div>
</body>




