---
layout: base.njk
---

<!DOCTYPE html>
<html>
<body>
<main>
<header style="text-align: center;">
<br>
    <div class="container">
    <a class="a" href="{{ '/about-sp' | url }}">
    <img style="height: 30px; width: 30px; float: right; margin-right: 40px;" src="/assets/icons/noun-globe-4761576.svg"/></a>
    </div> 
    <br>
        <h1><strong>About the Project<strong></h1>
      </header>

<br></br>   

 {# Page or post content will appear here #}
 
    {{ content | safe }}


<div class="about_imgs">

<div class="container">
<div class="vid container">
<img class="poster" src="assets/images/about_imgs/The-Heart-of-Puerto-Rico_poster.png"/></div>

<div class="awards">
<img class="awards" src="assets/images/about_imgs/award-1.png"/>
<img class="awards" src="assets/images/about_imgs/award-2.png"/>
<img class="awards" src="assets/images/about_imgs/award-3.png"/>
<img class="awards" src="assets/images/about_imgs/award_4.png"/>
</div>
</div>
</div>

 <footer class="footer" style="text-align: center;">
        <div class="links">
          <a class="a" href={{ "/" | url }}>Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href={{ "/credits" | url }}>Credits</a>
      </footer>
      </main>
</body>




