---
layout: base.njk
---

<!DOCTYPE html>
<html>
<body class="wrapper">

<main>
<header style="text-align: center;">
<br>
    <div class="container">
    <img style="height: 30px; width: 30px; float: right; margin-right: 40px;" src="/assets/icons/noun-globe-4761576.svg"/>
    </div> 
    <br>
        <h1><strong>About the Project<strong></h1>
      </header>

<br></br>   

 {# Page or post content will appear here #}
 
    {{ content | safe }}

<div class="container">
    <div class="vid container">
        <div class="box">
        <img class="thumbnail" src="assets/images/Christine_Nieves/Christine_1.jpg"/></div>
        <h4 style="color: #ffffff; margin-top: 5px;">Christine Nieves</h4>
    </div>
    <div class="vid container">
        <div class="box"></div>
        <h4 style="color: #ffffff; margin-top: 5px;">Luis Miranda</h4>
    </div>


<div class="about_imgs">

<div class="container">
<img class="poster" src="assets/images/about_imgs/The-Heart-of-Puerto-Rico_poster.png"/></div>

<div class="awards">
<img class="awards" src="assets/images/about_imgs/award-1.png"/>
<img class="awards" src="assets/images/about_imgs/award-2.png"/>
<img class="awards" src="assets/images/about_imgs/award-3.png"/>
<img class="awards" src="assets/images/about_imgs/award_4.png"/></div>

</div>

 <footer class="footer" style="text-align: center;">
        <div class="links">
          <a class="a" href="/index">Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/credits">Credits</a>
      </footer>
      </main>
</body>




