<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"/>
        <base href="/">
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
 </head>
  <body>
  <main>
    
    {# Page or post content will appear here #}
 
    {{ content | safe }}
  
     
  </main> 
  </body>
  
</html> 