---
layout: base.njk
---

<!DOCTYPE html>

<html>
<body style="text-align: center;">
<main style="text-align: center;">
 <header style="text-align: center;">
 <br>
    <div class="container">
    <a class="a" href="/credits-es">
    <img style="height: 30px; width: 30px; float: right; margin-right: 40px;" src="/assets/icons/noun-globe-4761576.svg"/></a>
    </div> 
    <br>
        <h3>Thank you to everyone involved in this project!</h3>
      </header>
   
 {# Page or post content will appear here #}
 
    {{ content | safe }}

</main>
<div class="controls prevnext footer" style="text-align: center; display: grid; margin-bottom: 0px; padding: 0px;">
        <div class="links">
          <a class="a" href="/">Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/about">About</a>
      </div>
</body>




