---
layout: base.njk
---

<!DOCTYPE html>

<html>
<body style="text-align: center;">
<header class="header" style="text-align: center; display: grid; margin-bottom: 0px;">
        <span class="links container">
          <a class="a" href="/">Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/about">About</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/credits-es">ES</a>
          </span>
      </header>
      <div style="border-bottom: 4px solid #ffffff;"></div>
<main style="text-align: center;">
 <header style="text-align: center;">
 <br>
        <h3>Thank you to everyone involved in this project!</h3>
      </header>
   
 {# Page or post content will appear here #}
 
    {{ content | safe }}

</main>
<div class="controls footer" style="text-align: center; display: grid; margin-bottom: 0px; padding: 0px;">
        <div class="links">
          <span class="divider"></span>
          <span class="divider"></span>
      </div>
</body>




