<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/styles.css">
        <title>{{ title }}</title>
    </head>

    <body>

        <h1> {{ title }} </h1>
        {{ content | safe }}
    </body>
</html>