---
layout: base.njk
---


<!DOCTYPE html>

<html>
<body>
 <header class="header" style="text-align: center; display: grid; margin-bottom: 0px">
        <a class="a" style="margin-top: 15px;" href="">
          <img style="height: 30px; width: 30px;" src="/assets/icons/noun-globe-4761576.svg"/></a>
        <span class="links container" style="margin-bottom: 5px">
          <a class="a" href="/">Home</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/about">About</a>
          <span class="divider"></span>
          <span class="divider"></span>
          <a class="a" href="/credits">Credits</a>
          </span>
      </header>
      <div style="border-bottom: 4px solid #ffffff;"></div>
      <main>
    <div class="iframe container">
        <iframe class="responsive-iframe" src="{{ youtube-link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="container">

        <h1 style="margin-top: 0px; margin-bottom: 5px"><strong>{{ artist-name }}</strong></h1>
        <h2 style="margin-top: 0px;"><i>{{ recording-date }}</i></h2>
        <br>
        <h4> {{ description-eng }} </h4>
        <br></br>
        <h3>Transcript</h3>
        <h4 class="textbox">{{ transcript-eng }}</h4>
        <br></br>
        <img src="{{ image-filename-1 }}" />
        <img src="{{ image-filename-2 }}" />
        <img src="{{ image-filename-3 }}" />

    </div>
<!-- # social media buttons -->

<div class="container">
    <a class="a" href="{{social-media-link}}"><img style="height: 48px; width: 48px" src="/assets/icons/noun-social-media-5453001.svg"/></a>
</div>

 </main>

    <div class="controls prevnext footer" style="align-content: center;">

    {# The previous and next post data is added in .eleventy.js #}

    <!-- {% if prevVid.url %} -->
      <h3 class="prev">
        <a class="a" href="{{ prevVid.url }}">Previous</a>
      </h3>
    <!-- {% endif %} -->
      <span>" "</span>
      <span>" "</span>
      <span>" "</span>
    <!-- {% if nextVid.url %} -->
      <h3 class="next">
        <a class="a" href="{{ nextVid.url }}">Next</a>
      </h3>
    <!-- {% endif %} -->
   
    </div>
</body>
</html>